body {
  background: black;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;

  .img-wrapper {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .img-subwrapper {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    animation: fadeIn 1s linear;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
